@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

:root {
    --light-grey: #819ca9;
    --mid-grey: #546e7a;
    --dark-grey: #29434e;
    --light-blue: #524aac;
    --mid-blue: #19227c;
    --dark-blue: #00004f;
    --bg-color: #ffffff;
    /* mid-blue formerly #1a237e */
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1% 2% 0 2%;
    font-family: Raleway, Geneva, sans-serif;

}

#site-name {
    float: left;
    line-height: 90px;
}

h1 {
    font-weight: 300;
    font-size: 2.75rem;
    color: var(--dark-grey);
    line-height: 90%;
    letter-spacing: .1rem;
    text-align: center;

}

h1 span {
    letter-spacing: .4rem;
    font-weight: 200;
    font-size: 2.35rem;
}

#logo {
    height: 90px;
    width: 90px;
    background: url('../images/whippet-silhouette-cut-coloured-compressed.png') no-repeat center center;
    background-size: contain;
    border: 2px solid var(--dark-grey);
    border-radius: 50%;
    display: inline-block;
    line-height: 90px;

}

a {
    text-decoration: none;
}

nav {
    float: right;
    width: 40%;
    line-height: 90px;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: right;
    margin: 0 6% 0 0;
    padding: 0;
}

nav li a {
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 1.6rem;
}

nav li:hover {
    text-transform: uppercase;
}

.active {
    font-weight: 500;

}

hr {
    border-top: 2vh solid var(--mid-blue);
    clear: both;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/whippet-in-front-of-sea.png') no-repeat center center;
    background-size: cover;
    background-position-y: 75%;
    /* README Credit: Photo by Diana D. Reinoso from Pexels
    Original image credit link: https://www.pexels.com/photo/black-and-white-short-coat-dog-73639/ */
}

/* MEDIA QUERIES */

/* Screen Sizes */

@media screen and (min-width:1615px) {
    #hero-image {
        background-position-y: center;
    }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    :root {
        --mid-grey: #7995BE;
        --dark-grey: #DDDEDF;
        --mid-blue: #555555;
        --bg-color: #1e1e1e;
    }

    body {
        color: #DDDEDF;
    }

    #logo {
        opacity: .7;

    }

    nav li a {
        color: var(--mid-grey);
        letter-spacing: .25rem;
    }

    nav li a:active {
        color: #839DC3;
    }

    #hero-image {
        opacity: .6;
    }
}