@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1% 2% 0 2%;
    font-family: Raleway, Geneva, sans-serif;

}

#site-name {
    float: left;
    line-height: 90px;
}

h1 {
    font-weight: 300;
    font-size: 2.75rem;
    color: #29434e;
    line-height: 90%;
    letter-spacing: .1rem;
    text-align: center;

}

h1 span {
    letter-spacing: .4rem;
    font-weight: 200;
    font-size: 2.35rem;
}

#logo {
    height: 90px;
    width: 90px;
    background: url('../images/whippet-silhouette-cut-coloured-compressed.png') no-repeat center center;
    background-size: contain;
    border: 2px solid #29434e;
    border-radius: 50%;
    display: inline-block;
    line-height: 90px;

}

a {
    text-decoration: none;
}

nav {
    float: right;
    width: 40%;
    line-height: 90px;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: right;
    margin: 0 6% 0 0;
    padding: 0;
}

nav li a {
    color: #29434e;
    font-weight: 300;
    font-size: 1.6rem;
}

nav li:hover {
    text-transform: uppercase;
}

.active {
    font-weight: 500;

}

hr {
    border-top: 2vh solid #1a237e;
    clear: both;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/whippet-in-front-of-sea.png') no-repeat center center;
    background-size: cover;
    background-position-y: 75%;
    /* README Credit: Photo by Diana D. Reinoso from Pexels
    Original image credit link: https://www.pexels.com/photo/black-and-white-short-coat-dog-73639/ */
}

@media screen and (min-width:1615px) {
    #hero-image {
        background-position-y: center;
    }
}